@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(125, 163, 159);
}
body .header {
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 100%;
  height: 70vw;
  background-image: url("images/wallpaper-colors.webp");
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .header__hello {
  margin-left: 5vw;
  color: rgb(77, 109, 105);
  font-weight: 500;
}
body .header__para {
  text-align: center;
  color: black;
  font-weight: 300;
}
body .header__img {
  width: 45vw;
  height: 15vw;
  align-self: flex-end;
}
body .header__addition {
  width: 10vw;
  height: 10vw;
  margin-left: 2vw;
  cursor: pointer;
}

.form {
  display: none;
  position: absolute;
  width: 100%;
  height: 80vw;
  font-family: "Zen Kaku Gothic New", sans-serif;
  background-color: rgb(51, 83, 79);
}
.form h2 {
  text-align: center;
  font-size: 8vw;
  font-weight: normal;
  color: white;
}
.form #formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}
.form #formulaire .formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
}
.form #formulaire .formulaire #form__name {
  width: 90%;
}
.form #formulaire .formulaire #form__description {
  width: 90%;
}
.form #formulaire #submit {
  width: 20%;
  align-self: center;
  margin-top: 5vw;
}
.form__datelabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: flex-end;
}
.form__datelabel--date {
  display: flex;
  flex-direction: column;
}
.form__datelabel--label {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.form__datelabel #form__label {
  height: 50%;
}

.categories {
  display: flex;
  justify-content: flex-end;
}
.categories__sort {
  display: flex;
  justify-content: space-between;
  margin: 2vw 5vw 0 0;
  width: 15%;
}
.categories__sort img {
  width: 33%;
  height: 100%;
}
.categories__sort img:hover {
  filter: brightness(0) invert(1);
}
.categories__filter {
  margin: 2vw 5vw 0 0;
  width: 15%;
}
.categories__filter #categories__filter--select {
  text-align: center;
  appearance: none;
  background-color: rgb(51, 83, 79);
  color: white;
  font-family: "Zen Kaku Gothic New", sans-serif;
  border-radius: 0.625em;
  width: 100%;
  height: 100%;
}

.tasks__task {
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 70%;
  margin: 5vw auto;
  padding: 4%;
  background-color: white;
  border: 1px solid #478886;
  border-radius: 20px;
  box-shadow: 5px 5px 1px #478886;
  display: flex;
  justify-content: space-between;
}
.tasks__task--name {
  font-weight: 400;
}
.tasks__task--description, .tasks__task--date, .tasks__task--time {
  padding-left: 2vw;
  font-weight: 300;
  font-size: 1.2em;
}
.tasks__task--description, .tasks__task--date {
  display: none;
}
.tasks__task--label {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */