*{
    margin: 0;
    padding: 0;
}

//Polices
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');
// pour l'utiliser : font-family: 'Zen Kaku Gothic New', sans-serif;

//Variables
$darkBlue : #33534F;
$blue : #4D6D69;
$blueClear : #7DA39F;
$blueGreen : #478886;
$font : "font-family: 'Zen Kaku Gothic New', sans-serif";

//mixins
@mixin fonts ($size, $weigth) {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: $size;
    font-weight: $weigth;
}

//Header
body{
    width: 100%;
    height: 100%;
    background-image: url("images/wallpaper-colors-mobile.webp");
    background-size: contain;
    .header{
        width: 100%;
        height: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__hello{
            margin-left: 5vw;
            color:$blue;
            @include fonts(8vw, 500);
        }
        &__para{
            text-align: center;
            color: black;
            @include fonts(5vw, 300);
        }
        &__img{
            width:45vw;
            height: 15vw;
            align-self: flex-end;
        }
        &__addition{
            width: 10vw;
            height: 10vw;
            margin-left: 2vw;
            cursor: pointer;
        }

    }
}

//Style du formulaire
.form{
    display: none;
    position:absolute;
    width: 100%;
    height: 80vw;
    background-color: $darkBlue;
    z-index: 10;
    h2{
        text-align: center;
        color: white;
        @include fonts(5vw, 500);
        margin-bottom: 2vw;
    }
    #formulaire{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70%;
        .formulaire{
            display: flex;
            flex-direction: column;
            color: white;
            height: 100%;
            @include fonts(3.5vw, 400);
            margin: 2.5vw 7vw;
            #form__name{
                width: 80%;
                margin: 2.5vw 7vw;
                height: 3vh;
                border-radius: 2vw
            }
            #form__description{
                @extend #form__name;
                height: 5vh;
            }
            #form__due {
                border-radius: 2vw;
                height: 2.5vh;
            }
            #form__label {
                @extend #form__due;
            }
        }
        #submit{
            width: 20%;
            align-self: center;
            text-align: center;
            margin-top: 5vw;
            border-radius: 5vw;
            @include fonts(4vw, 300);
            background-color: white;
            border: 1vw solid $darkBlue;
            box-shadow: 1.5vw 1.5vw 5vw $blueGreen;
        }
    }
    &__datelabel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
        &--date{
            display: flex;
            flex-direction: column;
        }
        &--label{
            display: flex;
            flex-direction: column;
            width: 30%;
        }

        #form__label{
            height: 50%;
        }

    }
}




//Tri et filtres

.categories{
    display: flex;
    justify-content: flex-end;
    &__sort{
        display: flex;
        justify-content: space-between;
        margin:2vw 5vw 0 0;
        width: 15%;
        img{
            width: 33%;
            height: 100%;
            cursor: pointer;
        }
    }
    &__filter{
        margin:2vw 5vw 0 0;
        width: 15%;
        #categories__filter--select{
            text-align: center;
            appearance: none;
            background-color: $darkBlue;
            color: white;
            @include fonts(2.7vw, 500);
            border-radius: 0.625em;
            width: 100%;
            height: 100%;
        }
    }
}


//Style des cartes
.main {
    background-color: $blueClear;
}
.tasks{
    padding-bottom: 5vw;
    &__task{
        width : 70%;
        margin : 5vw 10vw 5vw 10vw;  
        padding : 4%;
        background-color: white;
        border-left : 5px solid $blueGreen;
        border-right : 5px solid $blueGreen;
        border-bottom : 5px solid $blueGreen;
        border-radius : 20px;
        box-shadow: 3px 3px 10px $blueGreen;
        display : flex;
        justify-content: space-between;
        &--divGauche{
            width : 85%;
        }
        &--name{
            @include fonts(4vw, 400);
        }
        &--description, &--date{
            padding-left : 2vw;
            @include fonts(3vw, 300);
        }
        //Modifié à voir pour le mediaqueries : début
        &--description, &--date, &--zoneModif{
            display : none;
        }
        
        &--zoneModif{
            justify-content : space-between;  
        }
        //fin de la modif
        img{
            width:25px;
            height:25px;
            padding-left : 2vw;
            padding-top : 2vw;

        }
        &--label {
            width : 10%;
            height : auto;
            background-position:center;
            background-repeat: no-repeat;
            background-size : contain;
        }
        &--time {
            @include fonts(3.5vw, 300);
            padding-left : 2vw;
        }
    }    
}

//Footer
.footer {
    width: 95%;
    height: 10%;
    padding: 5vw 5vw 5vw 0vw;
    background-color: $blueClear;
    color: white;
    @include fonts (3vw, 300);
    text-align: center;
    margin-bottom: -5vw;
}

//MediaQueries
@media screen and (min-width: 1024px) {
    //Header
body{
    width: 100%;
    height: 100%;
    background-image: url("images/wallpaper-colors-desktop2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    .header{
        width: 100%;
        height: 20vw;
        background-position: right;
        background-size: cover;
        display: flex;
        flex-direction: column;
        &__img{
            width:20vw;
            height: auto;
            align-self: flex-end;
        }
        &__hello{
            margin-left: 13vw;
            color:$blue;
            @include fonts(4vw, 500);
        }
        &__para{
            color: black;
            @include fonts(2.5vw, 300);
            margin-left: -45vw;
        }
        &__addition{
            width: 35%;
            height: auto;
            cursor: pointer;
            padding-top: 4vw;
            padding-bottom: 4vw;
            margin-left: 3vw;
            &--bg {
            width: 10%;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            margin: 0;
            background-color: $blueClear;
            }
        }

    }
}

//Style du formulaire
.form{
    //display: none;
    position:absolute;
    width: 50%;
    height: 80vw;
    background-color: $darkBlue;
    h2{
        text-align: center;
        color: white;
        @include fonts(2vw, 500);
    }
    #formulaire{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70%;
        .formulaire{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            height: 100%;
            @include fonts(1.5vw, 400);
            #form__name{
                width: 90%;
            }
            #form__description{
                width: 90%;
            }
        }
        #submit{
            width: 20%;
            align-self: center;
            margin-top: 5vw;
            @include fonts(2vw, 400);
        }
    }
    &__datelabel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: flex-end;
        &--date{
            display: flex;
            flex-direction: column;
        }
        &--label{
            display: flex;
            flex-direction: column;
            width: 30%;
        }

        #form__label{
            height: 50%;
        }

    }
}




//Tri et filtres

.categories{
    display: flex;
    flex-direction: column;
    top:0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: $blueClear;
    width: 10%;
    &__sort{
        display: flex;
        flex-direction: column;
        margin-top: 13vw;
        width: 30%;
        img{
            width: 80%;
            margin-bottom: 1.5vw;
            margin-left: 3.5vw;
            &:hover{
                filter: brightness(0) invert(1);
            }
        }
    }
    &__filter{
        width: 45%;
        #categories__filter--select{
            text-align: center;
            appearance: none;
            background-color:$darkBlue;
            color: white;
            @include fonts(1.5vw, 500);
            border-radius: 0.625em;
            margin-left: 2.5vw;
            margin-bottom: 40vw;
        }
    }
}


//Style des cartes
.main{
    background-color: rgba(125, 163, 159, 0);
}
.tasks{
    margin-left: 15vw;
    //margin-top: -50vw;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    //background-color: rgba(125, 163, 159, 0);
    &__task{
        width : 20%;
        margin: 2vw;
        padding: 2vw;
        &--divGauche{
            width : 85%;
        }
        &--name{
            @include fonts(1.5vw, 400);
        }
        &--description, &--date{
            padding-left : 2vw;
            @include fonts(1vw, 300);
        }
        &--description, &--date, img{
            display : block;
        }
        img{
            width:25px;
            height:25px;
            padding-left : 2vw;
            padding-top : 2vw;
        }
        &--label {
            width : 15%;
            height : auto;
            margin-top: -5vw;
        }
        &--time {
            @include fonts(1vw, 300);
            padding-left : 2vw;
        }
    }    
}



}