@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("images/wallpaper-colors-mobile.webp");
  background-size: contain;
}
body .header {
  width: 100%;
  height: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .header__hello {
  margin-left: 5vw;
  color: #4D6D69;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 8vw;
  font-weight: 500;
}
body .header__para {
  text-align: center;
  color: black;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 5vw;
  font-weight: 300;
}
body .header__img {
  width: 45vw;
  height: 15vw;
  align-self: flex-end;
}
body .header__addition {
  width: 10vw;
  height: 10vw;
  margin-left: 2vw;
  cursor: pointer;
}

.form {
  display: none;
  position: absolute;
  width: 100%;
  height: 80vw;
  background-color: #33534F;
  z-index: 10;
}
.form h2 {
  text-align: center;
  color: white;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 5vw;
  font-weight: 500;
  margin-bottom: 2vw;
}
.form #formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}
.form #formulaire .formulaire {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 3.5vw;
  font-weight: 400;
  margin: 2.5vw 7vw;
}
.form #formulaire .formulaire #form__name, .form #formulaire .formulaire #form__description {
  width: 80%;
  margin: 2.5vw 7vw;
  height: 3vh;
  border-radius: 2vw;
}
.form #formulaire .formulaire #form__description {
  height: 5vh;
}
.form #formulaire .formulaire #form__due, .form #formulaire .formulaire #form__label {
  border-radius: 2vw;
  height: 2.5vh;
}
.form #formulaire #submit {
  width: 20%;
  align-self: center;
  text-align: center;
  margin-top: 5vw;
  border-radius: 5vw;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 4vw;
  font-weight: 300;
  background-color: white;
  border: 1vw solid #33534F;
  box-shadow: 1.5vw 1.5vw 5vw #478886;
}
.form__datelabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.form__datelabel--date {
  display: flex;
  flex-direction: column;
}
.form__datelabel--label {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.form__datelabel #form__label {
  height: 50%;
}

.categories {
  display: flex;
  justify-content: flex-end;
}
.categories__sort {
  display: flex;
  justify-content: space-between;
  margin: 2vw 5vw 0 0;
  width: 15%;
}
.categories__sort img {
  width: 33%;
  height: 100%;
  cursor: pointer;
}
.categories__filter {
  margin: 2vw 5vw 0 0;
  width: 15%;
}
.categories__filter #categories__filter--select {
  text-align: center;
  appearance: none;
  background-color: #33534F;
  color: white;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2.7vw;
  font-weight: 500;
  border-radius: 0.625em;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #7DA39F;
}

.tasks {
  padding-bottom: 5vw;
}
.tasks__task {
  width: 70%;
  margin: 5vw 10vw 5vw 10vw;
  padding: 4%;
  background-color: white;
  border-left: 5px solid #478886;
  border-right: 5px solid #478886;
  border-bottom: 5px solid #478886;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #478886;
  display: flex;
  justify-content: space-between;
}
.tasks__task--divGauche {
  width: 85%;
}
.tasks__task--name {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 4vw;
  font-weight: 400;
}
.tasks__task--description, .tasks__task--date {
  padding-left: 2vw;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 3vw;
  font-weight: 300;
}
.tasks__task--description, .tasks__task--date, .tasks__task--zoneModif {
  display: none;
}
.tasks__task--zoneModif {
  justify-content: space-between;
}
.tasks__task img {
  width: 25px;
  height: 25px;
  padding-left: 2vw;
  padding-top: 2vw;
}
.tasks__task--label {
  width: 10%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.tasks__task--time {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 3.5vw;
  font-weight: 300;
  padding-left: 2vw;
}

.footer {
  width: 95%;
  height: 10%;
  padding: 5vw 5vw 5vw 0vw;
  background-color: #7DA39F;
  color: white;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  margin-bottom: -5vw;
}
.footer__logo img {
  filter: brightness(0) invert(1);
  width: 40%;
  max-width: 300px;
}
.footer__icons img {
  width: 5%;
  max-width: 30px;
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    background-image: url("images/wallpaper-colors-desktop2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  body .header {
    width: 100%;
    height: 20vw;
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  body .header__img {
    width: 20vw;
    height: auto;
    align-self: flex-end;
  }
  body .header__hello {
    margin-left: 13vw;
    color: #4D6D69;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 4vw;
    font-weight: 500;
  }
  body .header__para {
    color: black;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 2.5vw;
    font-weight: 300;
    margin-left: -45vw;
  }
  body .header__addition {
    width: 35%;
    height: auto;
    cursor: pointer;
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-left: 3vw;
  }
  body .header__addition--bg {
    width: 10%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #7DA39F;
  }
  .form {
    position: absolute;
    width: 50%;
    height: 80vw;
    background-color: #33534F;
  }
  .form h2 {
    text-align: center;
    color: white;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 2vw;
    font-weight: 500;
  }
  .form #formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
  }
  .form #formulaire .formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
  }
  .form #formulaire .formulaire #form__name, .form #formulaire .formulaire #form__description {
    width: 90%;
  }
  .form #formulaire .formulaire #form__description {
    width: 90%;
  }
  .form #formulaire #submit {
    width: 20%;
    align-self: center;
    margin-top: 5vw;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 2vw;
    font-weight: 400;
  }
  .form__datelabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: flex-end;
  }
  .form__datelabel--date {
    display: flex;
    flex-direction: column;
  }
  .form__datelabel--label {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .form__datelabel #form__label {
    height: 50%;
  }
  .categories {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: #7DA39F;
    width: 10%;
  }
  .categories__sort {
    display: flex;
    flex-direction: column;
    margin-top: 13vw;
    width: 30%;
  }
  .categories__sort img {
    width: 80%;
    margin-bottom: 1.5vw;
    margin-left: 3.5vw;
  }
  .categories__sort img:hover {
    filter: brightness(0) invert(1);
  }
  .categories__filter {
    width: 45%;
  }
  .categories__filter #categories__filter--select {
    text-align: center;
    appearance: none;
    background-color: #33534F;
    color: white;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 0.625em;
    margin-left: 2.5vw;
    margin-bottom: 40vw;
  }
  .main {
    background-color: rgba(125, 163, 159, 0);
  }
  .tasks {
    margin-left: 15vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tasks__task {
    width: 20%;
    margin: 2vw;
    padding: 2vw;
  }
  .tasks__task--divGauche {
    width: 85%;
  }
  .tasks__task--name {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
  }
  .tasks__task--description, .tasks__task--date {
    padding-left: 2vw;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1vw;
    font-weight: 300;
  }
  .tasks__task--description, .tasks__task--date, .tasks__task--zoneModif {
    display: block;
  }
  .tasks__task--zoneModif {
    display: flex;
  }
  .tasks__task img {
    width: 25px;
    height: 25px;
    padding-left: 2vw;
    padding-top: 2vw;
  }
  .tasks__task--label {
    width: 15%;
    height: auto;
    margin-top: -5vw;
  }
  .tasks__task--time {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1vw;
    font-weight: 300;
    padding-left: 2vw;
  }
}/*# sourceMappingURL=style.css.map */